// Specific CSS for your home-page
.home {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(asset_path('movies-wallpaper.jpg'));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
  width: 100%;
  color : white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 52px;
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .link-home {
  text-decoration: none;
  color:white !important;
}
