<div class="container  d-flex ">
    <div class="column justify-content-center">
      <h1 class="row">Movies</h1>
      <p class="row">Find all the movies you want here and review them</p>
      <div class="row btn btn-primary btn-lg btn-block"><%= link_to "Enter", movies_path %></div>
    </div>
</div>
