<div class="home wrapper">
      <p class="row">Find all the movies you want here and review them</p>
      <div class="row btn btn-primary btn-lg btn-block link-home"><%= link_to "Enter", movies_path %></div>
</div>
