.movies {
  list-style-type: none;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .movies {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .movies {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .movies {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .movies {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .movies {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.poster {
  height: 400px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-link {
  text-align: center;
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: color 0.5s, font-size 0.5s;
  transition: color 0.5s, font-size 0.5s;
  font-size: 32px;
}

.title-link:hover {
  color: #f1f1f1;
  font-size: 40px;
  text-decoration: underline;
}

.card_movie {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}
